@import "tailwindcss";

@theme {
  --font-poppins: 'Poppins', sans-serif;
}

/* Arka plan ve genel ayarlar */
body {
  background-color: #F3F4F6;
  color: #202020;
  font-family: var(--font-poppins);
}